body {
    font-family: Arial;
    background: #f4f4f4;
}

.login-box, .container {
    width: 400px;
    margin: 50px auto;
    background: white;
    padding: 20px;
}

input {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
}

button {
    width: 100%;
    padding: 8px;
    background: #007BFF;
    color: white;
    border: none;
}

ul {
    list-style: none;
    padding: 0;
}
